<% provide(:title, "Home | Rails Project") %>

<div class="row">
	<div class="col-md-8" id="intro-text">
		<p>My name is Jeremy Clarkson and I am an aspiring web developer with experience in building web apps in Ruby on Rails. I have also built apps using JavaScript and utilizing Bootstrap. See my portfolio page for a summary of my biggest projects and links to the source code on Github.</p>
		<div class="hr-white text-center">
			<hr></hr>
			<i class="fa fa-terminal fa-4x"></i>
		</div>
		<p class="text-center">Web Developer - Business Analyst</p>
	</div>

	<div class="col-md-4">
		<div class="text-center" id="profile-pic-container">
			<%= image_tag 'jeremy.png', id: 'profile-pic', class: 'img-responsive thumbnail' %>
		</div>
	</div>

</div>