<h2>Portfolio</h2>
<div class="container-fluid" id="picture-area">
	<div class="thumbnail">
		<h4>Dungeons and Dragons Spells</h4>
		<%= link_to(image_tag('dnd.png'), "https://github.com/fugumagu/DnD") %>
		<p>A useful tool for browsing Dungeons &amp; Dragons spells from the 5th edition. Includes filters based on player class, spell level, and spell school. 
		Made with HTML, CSS, JavaScript, and jQuery.
	</div>

	<div class="thumbnail">
		<h4>Complete the Square Solver</h4>
		<%= link_to(image_tag('complete_the_square.png'), "https://github.com/fugumagu/complete-the-square") %>
		<p>An excellent tool that assists algebra students with problems involving "Completing the Square". The user enters an equation (unsimplified is ok) and the app solves the equation, outlining and explaining each step in the process to complete the square. Built with JavaScript.</p>
	</div>

	<div class="thumbnail">
		<h4>Chess</h4>
		<%= link_to(image_tag('chess.png'), "https://github.com/fugumagu/chess") %>
		<p>A basic chess game that is played in the command line. Built in Ruby.</p>
	</div>

	<div class="thumbnail">
		<h4>Searching Binary Trees</h4>
		<%= link_to(image_tag('searching_binary_trees.png'), "https://github.com/fugumagu/searching_binary_trees") %>
		<p>Simple utility that takes an array of numbers and turns it into a binary tree. Calculates the height of the tree, the number of nodes in the final row, and the capacity of the final row. Given a target value, executes a breadth-first-search to locate the target number. Built in Ruby.</p>
	</div>


</div>