<div class="row">
	<div class="col-md-8" id="intro-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius est id nulla sollicitudin, non interdum eros ultrices. Cras tincidunt mauris ut ligula auctor gravida. Ut porta sed lorem non malesuada. Praesent non maximus ipsum, a mollis urna. Sed a ligula enim. In semper mi sit amet elit feugiat laoreet vel nec neque. Fusce arcu turpis, sodales ut nulla nec, lobortis rutrum orci.</p>
		<div class="hr-white text-center">
			<hr></hr>
			<i class="fa fa-terminal fa-4x"></i>
		</div>
		<p>Aenean condimentum pulvinar lorem. Fusce felis nulla, bibendum id interdum vel, pulvinar ac sem.</p>
	</div>

	<div class="col-md-4">
		<div class="thumbnail" id="profile-pic-container">
			<%= image_tag 'betty.jpg', id: 'profile-pic', class: 'img-responsive' %>
		</div>
	</div>

</div>