<h2>Portfolio</h2>
<div class="container-fluid" id="picture-area">
	<div class="thumbnail">
		<h4>Dungeons and Dragons Spells</h4>
		<%= link_to(image_tag('dnd.png'), "https://github.com/fugumagu/DnD") %>
		<p>A useful tool for browsing Dungeons &amp; Dragons spells from the 5th edition. Includes filters based on player class, spell level, and spell school. 
		Made with HTML, CSS, JavaScript, and jQuery.
	</div>

	<div class="thumbnail">
		<h4>Complete the Square Solver</h4>
		<%= link_to(image_tag('complete_the_square.png'), "https://github.com/fugumagu/complete-the-square") %>
		<p>An excellent tool that assists algebra students with problems involving "Completing the Square". The user enters an equation (unsimplified is ok) and the app solves the equation, outlining and explaining each step in the process to complete the square. Built with JavaScript.</p>
	</div>


</div>