// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/**************/
/* Typography */
/**************/
#brand-link, footer, #navigation > li > a {
	color: #da9140;
}

#brand-link:hover, #brand-link:visited, #brand-link:focus {
	text-decoration: none;
}

#navigation > li > a:hover, #navigation > li > a:focus {
	color: #F1ECE7;
}

.fa {
	color: black;
}

#jumbo-yield p, #jumbo-yield h2, .hr-white hr, .hr-white i {
	color: #F1ECE7;
}

label, tr, .white-cell {
	color: #F1ECE7;
	font-size: 1.4em;
	border-collapse: separate;
	padding-right: 10px;
	a {
		color: #FFF;
	}
}

#error_explanation {
	color: darkred;
	> h2 {
		color: darkred;
		font-size: 1em;
	}
}






/*********************/
/* Navbar and footer */
/*********************/
.top-bottom {
	background-color: #0e1327;
}

.navbar {
	border-bottom: solid #0e1327 10px;
}

.nav {
	display: inline-block;
}

#navigation > li {
	float: right;
}

#brand {
	font-size: 2em;
	float: left;
}

.tabs {
	border-bottom: 0;
}

#jumbo-footer-1 {
	margin-bottom: 0;
	border-top: solid lightgray 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}

#jumbo-footer-1 h3 {
	margin-top: 0;
}

#made-with, #social-links {
	display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 10px;
    padding-top: 8px;
}

.made-with-img {
	max-height: 50px;
	width: auto;
	padding: 0 5px;
}

.link-fa {
	padding: 0 10px;
}

#social-links ul {
	list-style: none;
	padding-left: 0;
}


#social-links ul li {
	display: inline-block;
}







/********/
/* Body */
/********/
#jumbo-yield {
	background-color: #62716F;
	margin-top: 50px;
}

hr, .hr-white > i, .hr-black > i {
	padding: 0 40px;
}

.hr-white hr {
	border: solid #F1ECE7 3px;
	width: 50%;
	display: inline-block;
	margin-bottom: 15px;
}

@media only screen and (max-width: 509px) {
    #jumbo-yield {
        margin-top: 111px;
    }
}

@media only screen and (min-width: 1071px) {
    #jumbo-yield {
        margin-top: 50px;
    }
}


.gray-back {
	background-color: #bbb;
}

.back-forward-container {
	padding-top: 10px;
}

td {
	padding: 2px;
}

label, tr, .white-cell {
	border-collapse: separate;
	padding-right: 10px;
}




/********/
/* Blog */
/********/
.blog-text-area {
	width: 70%;
	height: 50%;
}