// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog {
	padding: 10px 0;
	width: 100%;
	background-color: #555;
	margin: 10px 0;
}