<div class="jumbotron" id="jumbo-footer-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-0 col-md-offset-2 col-md-3 text-center" id="made-with">
				<h3>Made With</h3>
				<%= image_tag 'ruby-on-rails-profile.png', class: "made-with-img" %>
				<%= image_tag 'bootstrap.png', class: "made-with-img" %>
			</div>

			<div class="col-sm-offset-0 col-md-offset-2 col-md-3 text-center" id="social-links">
				<ul class="">
					<li>
						<a href="https://github.com/fugumagu"><i class="fa fa-github fa-2x"></i></a>
					</li>
					
					<li>
						<a href="https://www.linkedin.com/in/jeremyclarkson"><i class="fa fa-linkedin fa-2x"></i></a>
					</li>
					
					<li>
						<a href="https://www.facebook.com/jerclarkson"><i class="fa fa-facebook fa-2x"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>